section.contact-wrap
  .contact-inner
    .contact-contents
      .contact-contents-inner
        .contact-contents-heading
          h2.contact-contents-title CONTACT US
          span.contact-contents-label お問い合わせ
        p.contact-contents-description 内容によりお問い合わせ先のメールアドレスが変わりますので
          br
          | ご注意ください。
          br
          | 以下の内容に関してお気軽にお問い合わせください。
          br
          | 1. 製品に関してのお問い合わせ
          br
          | 2. 取材、メディアのお問い合わせ
        .contact-contents-detail-wrap
          .contact-contents-detail-inner
            .contact-contents-detail
              .contact-contents-detail-text 製品に関してのお問い合わせ
                br
                | morihisa@qi3-corp.co.jp

            .contact-contents-detail
              .contact-contents-detail-text 取材のお問合せ
                br
                | achy.rascal.0720@gmail.com
