section.section07-wrap
  .section07-inner
    .section07-heading-wrap
      .section07-heading-image-wrap
        img.section07-heading-image(src='/image/section07/heading.png', alt='')
      .section07-heading-texts
        p.section07-heading-description 亜塩素酸水 
          br
          | 【クロラス除菌ウォーター】
        h2.section07-heading-title
          img.section07-heading-image(src='/image/kiorus.svg', alt='Devirus')

    .section07-contents-wrap
      .section07-contents-inner
        .section07-contents-heading-wrap
          h3.section07-contents-heading-title 亜塩素酸水「クロラス除菌ウォーター」の特徴
          p.section07-contents-heading-description 食品添加物として厚生労働省から認められ、安心安全の除菌剤
        .section07-contents
          .section07-contents-image-wrap
            img.section07-contents-image(src='/image/section07/image-01.svg', alt='')
          .section07-contents-image-wrap
            img.section07-contents-image(src='/image/section07/image-02.svg', alt='')

        .section07-specification
          h3.section07-specification-title 仕様
          .section07-specification-lists-wrap
            dl.section07-specification-lists
              dt.section07-specification-list-title 形式
              dd.section07-specification-list-description DVAC-1200
            dl.section07-specification-lists
              dt.section07-specification-list-title サイズ
              dd.section07-specification-list-description 幅 250mm / 奥行 250mm / 高さ 875mm
            dl.section07-specification-lists
              dt.section07-specification-list-title 電源
              dd.section07-specification-list-description AC100V / 350W（噴霧動作時）
            dl.section07-specification-lists
              dt.section07-specification-list-title 霧化量
              dd.section07-specification-list-description 1200〜1500mL / h（室温、湿度等により変動）
