section.section05-wrap
  .section05-inner
    .section05-contents-wrap
      .section05-contents
        .section05-contents-heading
          h3.section05-contents-title 感染を予防する方法
          p.section05-contents-description 空間除菌デバイスなら広い空間への素早いアプローチが可能
        .section05-contents-image-wrap
          img.section05-contents-image(src='/image/section05/top.svg', alt='')
        .section05-contents-description-image-wrap
          img.section05-contents-image(src='/image/section05/text-01.svg', alt='')

      .section05-contents
        .section05-contents-heading
          h3.section05-contents-title 空間除菌システムとは
          p.section05-contents-description 共に優れた除菌力と拡散力が組み合うことで、安全で協力な効果をもたらす
        .section05-contents-image-wrap
          img.section05-contents-image(src='/image/section05/image-01.svg', alt='')
        .section05-contents-description-image-wrap
          img.section05-contents-image(src='/image/section05/text-02.svg', alt='')

      .section05-contents.section05-contents_wide
        .section05-contents-heading
          h3.section05-contents-title 人がいる場所、人を守る除菌システム
        .section05-contents-image-contents-wrap
          .section05-contents-image-inner
            .section05-contents-image-position
              .section05-contents-image-contents.section05-contents-image-contents_01
          .section05-contents-image-inner
            .section05-contents-image-position
              .section05-contents-image-contents.section05-contents-image-contents_02
        ul.section05-contents-list-wrap
          li.section05-contents-list
            h4.section05-contents-list-title 1_食品加工工場・飲食店
            p.section05-contents-list-description 夏場の食品加工工場の空調に潜むカビを抑制することで、空間へのカビ菌飛散を防止
          li.section05-contents-list
            h4.section05-contents-list-title 2_病院・介護施設・保育園
            p.section05-contents-list-description 医療に従事する人々、免疫力が低い伊h跳びとに対し、患者や子供たちの感染の恐れや不安を取り除く
          li.section05-contents-list
            h4.section05-contents-list-title 3_学校
            p.section05-contents-list-description 勉強や運動を頑張る子供たちに対し、集団感染の予防空間環境の安全衛生づくりに効果的
          li.section05-contents-list
            h4.section05-contents-list-title 4_塾・オフィス
            p.section05-contents-list-description 受験勉強中の子供や病欠できないオフィスワーカーに対し、健康的なリスクを減らし安心
          li.section05-contents-list
            h4.section05-contents-list-title 5_一般家庭
            p.section05-contents-list-description 家庭で過ごす全ての人々に対し、帰宅時にウイルスを持ち込まない、安心で安全な家庭環境をつくる
