section#js-section3.section03-wrap
  .section03-inner

    .section03-contents.section03-contents_01
      .section03-contents-inner.section03-contents-inner_01
        .section03-contents-detail.section03-contents-detail_01
          .section03-contents-detail-inner.section03-contents-detail-inner_01
            .section03-contents-heading
              h3.section03-contents-title Social Issues
              p.section03-contents-label 現代社会の問題
            .section03-contents-description-wrap
              p.section03-contents-description 経済の発展は、私たちの暮らしを豊かにしました。 同様に、新たな社会問題や環境問題などを増大させています。 新しい感染症、その源のカビ・最近やウイルスなどの進化形もみられます。 予測不可能な感染症発生源や、 今までにない高い感染力のウイルスなどです。 新たな研究やより的確な対処法及び正しい情報などが求められています。

        .section03-image-wrap.section03-image-wrap_01
          img.section03-image(src='/image/section03/image-01.png', alt='')

    .section03-contents.section03-contents_02
      .section03-contents-inner.section03-contents-inner_02
        .section03-image-wrap.section03-image-wrap_02
          .section03-image-inner.section03-image-inner_02
            img.section03-image(src='/image/section03/image-02.png', alt='')
            img.section03-image(src='/image/section03/image-03.png', alt='')

        .section03-contents-detail.section03-contents-detail_02
          .section03-contents-detail-inner.section03-contents-detail-inner_02
            .section03-contents-heading
              h3.section03-contents-title Infection Spread
              p.section03-contents-label 広がりを見せる感染症拡大の背景
            .section03-contents-description-wrap
              p.section03-contents-description なぜ、いろいろな感染症が頻繁に発生するようになったのでしょうか。 人や物流のグローバル化と流動性の高まりが原因と言われますが、近年の地球温暖化や異常な気候変動が、カビ・最近やウイルスの発生を多くし感染症を生んでいると言われています。頻繁に起こる自然災害や大きな人的災害による社会インフラを倒壊させることが、感染症の発生防止を難しくし、発生した感染症の流行・拡大の阻止を難しくしています。 感染症発生源の根絶や感染拡大の抑止の必要性が重要な緊急の課題となっています。

    .section03-contents.section03-contents_04
      .section03-contents-inner.section03-contents-inner_04

    .section03-contents.section03-contents_05
      .section03-contents-inner
        .section03-contents-detail.section03-contents-detail_05
          .section03-contents-detail-inner.section03-contents-detail-inner_05
            .section03-contents-heading
              h3.section03-contents-title.section03-contents-title_05 For Protecting People
              p.section03-contents-label 大切な人を守るために
            .section03-contents-description-wrap
              p.section03-contents-description 各種病気のもととなる細菌や近年増えている感染症の 原因となる各種ウイルスの遮断や除菌をすることが、 職場や家族の健康や安心へつながります。 まずはカビ・細菌やウイルスのない 衛生的でクリーンな空間づくりが大切になります。

        .section03-image-wrap.section03-image-wrap_05
          .section03-image-inner.section03-image-inner_05
            img.section03-image(src='/image/section03/image-05.png', alt='')
            .section03-image-column
              .section03-image-column-wrap
                .section03-image-column-inner
                  .section03-image.section03-image_column01
              .section03-image-column-wrap
                .section03-image-column-inner
                  .section03-image.section03-image_column02
