section.section05-wrap
  .section05-inner
    .section05-contents-wrap
      .section05-contents
        .section05-contents-heading
          h3.section05-contents-title 感染を予防する方法
          p.section05-contents-description 空間除菌デバイスなら広い空間への素早いアプローチが可能
        .section05-contents-image-wrap
          img.section05-contents-image(src="/image/section05/top.png", alt="")
        .section05-contents--description-image-wrap
          img.section05-contents--description-image(src="/image/section05/image-01.png", alt="")
      