section.section02-wrap
  .section02-inner
    .section02-contents-wrap
      .section02-contents
        .section02-contents-inner.section02-contents-inner_01
          .section02-image-wrap
            img.section02-image(src='/image/section02/image-01.png', alt='')
          .section02-description-wrap
            p.section02-description 空間除菌デバイス
              br
              | 【デヴィルス AC】
          .section02-logo-wrap
            img.section02-logo(src='/image/logo.png', alt='')
          .section02-arrow-wrap
            img.section02-arrow(src='/image/section02/arrow.png', alt='')
      .section02-contents
        .section02-contents-inner.section02-contents-inner_02
          .section02-image-wrap
            img.section02-image(src='/image/section02/image-02.png', alt='')
          .section02-description-wrap
            p.section02-description 亜塩素酸水
              br
              | 【クロラス除菌ウォーター】
          .section02-logo-wrap
            img.section02-logo(src='/image/kiorus.png', alt='')
          .section02-arrow-wrap
            img.section02-arrow(src='/image/section02/arrow.png', alt='')
