.section03-wrap
  .section03-inner

    .section03-contents.section03-contents_01
      .section03-contents-inner
        .section03-contents-heading
          h3.section03-contents-title Social Issues
          p.section03-contents-label 現代社会の背景
        .section03-contents-description-wrap
          p.section03-contents-description 経済の発展は、私たちの暮らしを豊かにしました。 同様に、新たな社会問題や環境問題などを増大させています。 新しい感染症、その源のカビ・最近やウイルスなどの進化形もみられます。 予測不可能な感染症発生源や、 今までにない高い感染力のウイルスなどです。 新たな研究やより的確な対処法及び正しい情報などが求められています。

