section#js-section6.section06-wrap
  .section06-inner
    .section06-heading-wrap
      .section06-heading-image-wrap
        img.section06-heading-image(src='/image/section06/heading.png', alt='')
      .section06-heading-texts
        p.section06-heading-description 空間除菌デバイス 
          br
          | 【デヴィルス AC】
        h2.section06-heading-title
          img.section06-heading-image(src='/image/logo.svg', alt='Devirus')

    .section06-contents-wrap
      .section06-contents-inner
        .section06-contents-heading-wrap
          h3.section06-contents-heading-title 空間除菌デバイス
            br.section06-newline
            |「Devirus AC」の特徴
          p.section06-contents-heading-description 安心で安全に、広い空間を
            br.section06-newline
            |すばやく除菌する除菌デバイス

        .section06-contents-detail-wrap
          .section06-contents-detail
            .section06-contents-detail-image-wrap
              img.section06-contents-detail-image(src='/image/section06/image-01.png', alt='')
            .section06-contents-detail-texts
              h4.section06-contents-detail-title 広い空間に行き渡るミスト
              ul.section06-contents-detail-lists
                li.section06-contents-detail-list ・最適な大きさを噴霧（平均粒径0.5〜2.0μm）し浮遊する
                li.section06-contents-detail-list ・ブラウン運動による長時間浮遊（60分以上実証）で
                li.section06-contents-detail-list ・ブラウン運動でミスト拡散スポードが早い（約4分で100㎡）
                li.section06-contents-detail-list ・一般的な加湿器の約100倍のミスト量

          .section06-contents-detail
            .section06-contents-detail-image-wrap
              img.section06-contents-detail-image(src='/image/section06/image-02.png', alt='')
            .section06-contents-detail-texts
              h4.section06-contents-detail-title 空間に満足の噴霧量
              ul.section06-contents-detail-lists
                li.section06-contents-detail-list ・最大1200mL / hのミスト量
                li.section06-contents-detail-list ・最大100㎡の噴霧量（天高3.5mの場合）

          .section06-contents-detail
            .section06-contents-detail-image-wrap
              img.section06-contents-detail-image(src='/image/section06/image-03.png', alt='')
            .section06-contents-detail-texts
              h4.section06-contents-detail-title 細やかな設定が可能
              ul.section06-contents-detail-lists
                li.section06-contents-detail-list ・噴霧時間、待機時間、スタート時刻が分単位で設定可能
                li.section06-contents-detail-list ・曜日設定、その他細かな設定がタイマーやスマホで対応可能
          
          .section06-contents-detail
            .section06-contents-detail-image-wrap
              img.section06-contents-detail-image(src='/image/section06/image-04.png', alt='')
            .section06-contents-detail-texts
              h4.section06-contents-detail-title 安全で安心な除菌剤を使用
              ul.section06-contents-detail-lists
                li.section06-contents-detail-list ・食品添加物殺菌料（食品衛生法認証）で安全性に優れいている
                li.section06-contents-detail-list ・塩素系でありながら、無色無臭で錆びにくい
                li.section06-contents-detail-list ・塩素系でありながら、有機物（汚れ）存在下でも除菌が可能
                li.section06-contents-detail-list ・塩素系でありながら、反復継続しての除菌が可能

        .section06-contents-image-wrap
          img.section06-contents-image(src='/image/section06/text.svg', alt='')

        .section06-contents-specification
          h3.section06-contents-specification-title 仕様
          .section06-contents-specification-lists-wrap
            dl.section06-contents-specification-lists
              dt.section06-contents-specification-list-title 形式
              dd.section06-contents-specification-list-description DVAC-1200
            dl.section06-contents-specification-lists
              dt.section06-contents-specification-list-title サイズ
              dd.section06-contents-specification-list-description 幅 250mm ／ 奥行 250mm ／ 高さ 875mm
            dl.section06-contents-specification-lists
              dt.section06-contents-specification-list-title 電源
              dd.section06-contents-specification-list-description AC100V ／ 200W（噴霧動作時）
            dl.section06-contents-specification-lists
              dt.section06-contents-specification-list-title 霧化量
              dd.section06-contents-specification-list-description 1200〜1500mL ／ h（室温・湿度等により変動）
            dl.section06-contents-specification-lists
              dt.section06-contents-specification-list-title 運転プログラム
              dd.section06-contents-specification-list-description 分単位 ／ 曜日単位で自由に設定
            dl.section06-contents-specification-lists
              dt.section06-contents-specification-list-title 遠隔操作
              dd.section06-contents-specification-list-description スマートコンセント使用時のみ可能（スマホアプリで対応）
            dl.section06-contents-specification-lists
              dt.section06-contents-specification-list-title 機能水
              dd.section06-contents-specification-list-description 亜塩素酸水製剤（クロラス除菌ウォーター）
            dl.section06-contents-specification-lists
              dt.section06-contents-specification-list-title 機能水タンク容量
              dd.section06-contents-specification-list-description 10L（希釈溶液充填最大量）

          p.section06-contents-specification-detail この製品はモールド、SUS304（ビス1本に至るまで）なので、サビのない業務用の機器です。
