.section03-wrap {
  padding: get-vw(160) 0 get-vw(385);
  background-color: $PRIMARY_COLOR;
}

.section03-inner {
  width: 100%;
}

.section03-contents {
  width: 100%;
  margin: 0 0 get-vw(160);

  &:last-child {
    margin: 0;
  }
}

.section03-contents_02 {
  margin: 0 0 get-vw(280);
}

.section03-contents_04 {
  width: 100%;
  position: relative;
  background-color: #000;

  &::before {
    content: '';
    padding-top: (600 / 1400) * 100%;
    display: block;
  }
}

.section03-contents-inner {
  width: 100%;
  display: flex;
}

.section03-contents-inner_01 {
  align-items: center;
}

.section03-contents-inner_02 {
  justify-content: flex-end;
}

.section03-contents-inner_04 {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: url('/image/section03/image-04.png') center center no-repeat;
  background-size: cover;
}

.section03-contents-detail {
  background-color: rgba(255, 255, 255, 0.02);
}

.section03-contents-detail_01,
.section03-contents-detail_02,
.section03-contents-detail_05 {
  width: (800 / 1400) * 100%;
  padding: get-vw(160) 0;
}

.section03-contents-detail-inner {
  margin: 0 auto;
}

.section03-contents-detail-inner_01,
.section03-contents-detail-inner_02,
.section03-contents-detail-inner_05 {
  width: (480 / 800) * 100%;
}

.section03-image-wrap {
  width: auto;
}

.section03-image-wrap_01 {
  width: (520 / 1400) * 100%;
  margin: 0 0 0 -7%;
}

.section03-image-wrap_02,
.section03-image-wrap_05 {
  width: (520 / 1400) * 100%;
  position: relative;
}

.section03-image-inner_02 {
  width: 100%;
  position: absolute;
  top: 10%;
  left: 10%;
}

.section03-image-inner_05 {
  width: 100%;
  position: absolute;
  top: 20%;
  right: 10%;
}

.section03-image {
  width: 100%;
  display: block;
  margin: 0 0 get-vw(20);

  &:last-child {
    margin: 0;
  }
}

.section03-image_column01,
.section03-image_column02 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section03-image_column01 {
  background-image: url('/image/section03/image-06.png');
}

.section03-image_column02 {
  background-image: url('/image/section03/image-07.png');
}

.section03-contents-heading {
  width: 100%;
  margin: 0 0 get-vw(80);
}

.section03-contents-title {
  @include font-rem(42, 0, 6.72);

  color: #fff;
  font-family: 'Acumin Pro Condensed';
  border-bottom: solid 1px #fff;
  display: inline-block;
  margin-bottom: get-vw(20);
}

.section03-contents-label {
  @include font-rem(16, 0, 3.2);

  color: #fff;
}

.section03-contents-description-wrap {
  width: 100%;
}

.section03-contents-description {
  @include font-rem(13, 34, 0.83);

  font-weight: 400;
  color: #fff;
}

.section03-image-column {
  width: calc(100% + #{get-vw(20)});
  display: flex;
  margin: 0 get-vw(-10);
}

.section03-image-column-wrap {
  width: 50%;
  padding: 0 get-vw(10);
}

.section03-image-column-inner {
  width: 100%;
  position: relative;

  &::before {
    content: '';
    padding-top: (688 / 500) * 100%;
    display: block;
  }
}
