extends ../shared/template/layout/_default

block vars
  -
    var title = 'document'

block main
  include ./modules/_kv
  include ./modules/_section02
  include ./modules/_section03
  include ./modules/_section04
  include ./modules/_section05
  include ./modules/_section06
  include ./modules/_section07
