@import '../../../node_modules/awesome-sass-easing/_sass-easing';

a {
  opacity: 1;
  transition: opacity 0.2s $easeOutSine;

  @include mediumScreenWidthOver {
    &:hover {
      opacity: 0.5;
    }
  }
}
