@font-face {
  font-family: 'Acumin Pro Condensed';
  font-weight: 700;
  src: url('/shared/fonts/AcuminProCondensed.eot');
  src:
    url('/shared/fonts/AcuminProCondensed.ttf') format('truetype'),
    url('/shared/fonts/OpenSans-Regular-webfont.woff2') format('woff2');
}

html {
  font-size: 62.5%;
  overflow-y: visible;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family:
    'Yu Gothic',
    '游ゴシック',
    YuGothic,
    '游ゴシック体',
    'ヒラギノ角ゴ Pro W3',
    'メイリオ',
    sans-serif;
  position: relative;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 400;
}

li {
  list-style: none;
}
