// color

$PRIMARY_COLOR: #2b2b2b;

$LIST_BUTTON_COLOR: #343434;
$BORDER_COLOR: #e5e5e5;

$BG_DEVIUS_COLOR: #d4e4e1;
$BG_KLORUS_COLOR: #d4e0f2;

$TEXT_SECONDaRY_COLOR: #646464;
$TEXT_PRIMARY_COLOR: #343434;
$TEXT_SECTION05_TITLE_COLOR: #1f86ce;
$TEXT_SECTION06_TITLE_COLOR: #1f86ce;
