block vars
  -
    var title = 'top'

doctype html
html(lang='ja')
  head
  
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title 空間除菌システム Devirus AC
    meta(charset='utf-8')
    meta(name='description', content='空間除菌システム Devirus ACは安心で安全に、広い空間をすばやく除菌する除菌デバイスです。')
    meta(name='Keywords', content='空間除菌システム Devirus ACは安心で安全に、広い空間をすばやく除菌する除菌デバイスです。')
    meta(name='viewport', content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1')
    meta(name='format-detection', content='telephone=no')

    meta(property='og:title', content='空間除菌システム Devirus AC')
    meta(property='og:description', content='空間除菌システム Devirus ACは安心で安全に、広い空間をすばやく除菌する除菌デバイスです。')
    meta(property='og:image', content='http://www.dvac.co.jp/image/ogp.png')

    link(rel='shortcut icon', href='image/favicon.ico', type='image/favicon.ico')
    link(rel='stylesheet', href='/style/index.css')

  body
    include ../module/_header
    block main
    include ../module/_footer

    script(src='/script/index.bundle.js')
