footer.footer-wrap
  .footer-inner
    .footer-contents
      .footer-contents-items

        .footer-contents-item
          h2.footer-contents-logo-wrap
            img.footer-contents-logo(src='/image/logo.svg', alt='Devirus')

        .footer-contents-item
          h3.footer-contents-item-title SHOP
          .footer-contents-lists
            h4.footer-contents-label 発売店舗情報
            ul.footer-contents-list-wrap
              li.footer-contents-list エフピコ商事株式会社（fp-trading.jp）
              li.footer-contents-list ユアサ商事株式会社（yuasa.co.jp）

        .footer-contents-item
          h3.footer-contents-item-title CAMPANY
          .footer-contents-lists
            h4.footer-contents-label 会社概要
            ul.footer-contents-list-wrap
              li.footer-contents-list 株式会社 空間除菌
              li.footer-contents-list 〒102-0084 東京都千代田区二番町1-2-1F
              li.footer-contents-list Tel  03-6910-0698
              li.footer-contents-list Mail  info@dvac.co.jp

    .footer-copywrite-wrap
      p.footer-copywrite © 2020 Copyright © 〇〇〇〇
