header.header-wrap
  .header-inner
    .header-title-wrap
      h1.header-logo-wrap
        img.header-logo(src='/image/logo.svg', alt='ロゴ')
      p.header-logo-desription 空間除菌デバイス
    ul.header-list-wrap
      li.header-list 
        a.header-link(href='#') 感染症拡大の背景
      li.header-list 
        a.header-link(href='#') 空間除菌システム
      li.header-list 
        a.header-link(href='#') デバイス
      li.header-list 
        a.header-link(href='#') リキッド
      li.header-list.header-list_button  
        a.header-link.header-link_last(href='#') 事前予約
