.header-wrap {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.header-inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: get-vw(40);

  @include largeScreenWidthLess() {
    padding-left: get-vw(20, $SP_DESIGN_WIDTH);
  }
}

.header-title-wrap {
  width: auto;
}

.header-logo-wrap {
  width: get-vw(200);
  margin: 0 0 get-vw(5);

  @include largeScreenWidthLess() {
    width: get-vw(120, $SP_DESIGN_WIDTH);
    margin: 0 0 get-vw(10, $SP_DESIGN_WIDTH);
  }
}

.header-logo {
  width: 100%;
  display: block;
}

.header-logo-desription {
  @include font-rem(16, 0, 2.56);

  color: $TEXT_PRIMARY_COLOR;

  @include largeScreenWidthLess() {
    @include font-rem(13, $viewport: $SP_DESIGN_WIDTH);
    line-height: 1;
    letter-spacing: 0.123076923;
  }
}

.header-list-wrap {
  display: flex;
  align-items: center;
}

.header-list {
  margin: 0 get-vw(60) 0 0;

  @include largeScreenWidthLess() {
    display: none;
  }
}

.header-list_button {
  margin: 0;

  @include largeScreenWidthLess() {
    display: block;
  }
}

.header-link {
  @include font-rem(16, 0, 1.31);

  color: $TEXT_PRIMARY_COLOR;
  text-decoration: none;
  font-weight: 700;

  @include largeScreenWidthLess() {
    @include font-rem(13, $viewport: $SP_DESIGN_WIDTH);

    width: get-vw(120, $SP_DESIGN_WIDTH);
    line-height: 1;
    letter-spacing: 0.184615385;
  }
}

.header-link_last {
  color: #fff;
  padding: get-vw(52) get-vw(67);
  background-color: $LIST_BUTTON_COLOR;
  display: block;

  @include largeScreenWidthLess() {
    padding: get-vw(30, $SP_DESIGN_WIDTH);
  }
}
