.header-wrap {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.header-inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: get-vw(40);
}

.header-title-wrap {
  width: auto;
}

.header-logo-wrap {
  width: get-vw(200);
  margin-bottom: get-vw(5);
}

.header-logo {
  width: 100%;
  display: block;
}

.header-logo-desription {
  @include font-rem(16, 0, 2.56);

  color: $TEXT_PRIMARY_COLOR;
}

.header-list-wrap {
  display: flex;
  align-items: center;
}

.header-list {
  margin: 0 get-vw(60) 0 0;

  &:last-child {
    margin: 0;
    background-color: $LIST_BUTTON_COLOR;
    padding: get-vw(52) get-vw(67);
  }
}

.header-link {
  @include font-rem(16, 0, 1.31);

  color: $TEXT_PRIMARY_COLOR;
  text-decoration: none;
}

.header-link_last {
  color: #fff;
}
